.year-select{
  position: absolute;
  background: white;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 0 6px #cdcdcd;
  border-radius:6px;
}
.year-select a.year-close{
  position: absolute;
  right: 0;
  top: 0;
  background: #f7d7da;
  width: 30px;
  height: 30px;
  border-radius: 0 6px 0 6px;
  font-size: 15px;
  color: #721c24;
  line-height: 30px;
}
.year-select a.year-close:hover{
  background: #721c24;
  color:white;
} 
.year-select .selected-year{
  padding: 15px 20px;
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
  font-size:20px;
}
.year-select .select-years-container{
  max-height: 240px;
  overflow: auto;  
}
.year-select .pick-year {
  float: left;
  width: 33.333%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  color:#333;
}
.year-select .pick-year.active,.year-select .pick-year:hover{
  background: #ebebeb;
  color:#999;
  cursor: pointer
}